*{
	font-family: "Ubuntu Light";
}

.up{
	background-color: #237EF5;
	width: 80%;
	height: 175px;
	font-family: Tahoma ;
	font-size: 30px;
	border-radius: 3px ;
	color : #FFFFFF;
	margin:auto;
	text-align: center;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(35,58,207,1);
	-moz-box-shadow: 0px 0px 15px 0px rgba(35,58,207,1);
	box-shadow: 0px 0px 15px 0px rgba(35,58,207,1);
}

.title1 {
	position: absolute;
	margin-top : 20px;
	
}

.center{

	text-align: center ;
	width: 70%;
	float: left;
	
}

input {
	width: 200px ;
	height: 15px ;
	margin: auto ;
	padding: 2px ;
}

.inputGasto {
-webkit-border-radius: 27px;
-moz-border-radius: 27px;
border-radius: 27px;

border: 3px solid #008000;
background-color: #bad1bc;
padding: 10px;
font-family: Verdana, Geneva, sans-serif;
font-size: 14px;
color: #008000;
text-align: center;
outline: 0px solid #E6E6FA;
margin : 2px;
}

.inputGasto:hover {
-webkit-border-radius: 27px;
-moz-border-radius: 27px;
border-radius: 27px;
border: 3px solid #008000;
background-color: #bad1bc;
padding: 10px;
font-family: Verdana, Geneva, sans-serif;
font-size: 14px;
color: #008000;
text-align: center;
outline: 0px solid #E6E6FA;
margin : 2px;
-webkit-box-shadow: 0px 0px 15px 0px rgba(35,58,207,1);
-moz-box-shadow: 0px 0px 15px 0px rgba(35,58,207,1);
box-shadow: 0px 0px 15px 0px rgba(35,58,207,1);
}

.inputGasto:focus {
-webkit-border-radius: 27px;
-moz-border-radius: 27px;
border-radius: 27px;
border: 3px solid #008000;
background-color: #bad1bc;
padding: 10px;
font-family: Verdana, Geneva, sans-serif;
font-size: 14px;
color: #008000;
text-align: center;
outline: 0px solid #E6E6FA;
margin : 2px;
-webkit-box-shadow: 0px 0px 15px 0px rgba(35,58,207,1);
-moz-box-shadow: 0px 0px 15px 0px rgba(35,58,207,1);
box-shadow: 0px 0px 15px 0px rgba(35,58,207,1);
}

.btnGasto {
  background: #23a34f;
  background-image: -webkit-linear-gradient(top, #23a34f, #124f39);
  background-image: -moz-linear-gradient(top, #23a34f, #124f39);
  background-image: -ms-linear-gradient(top, #23a34f, #124f39);
  background-image: -o-linear-gradient(top, #23a34f, #124f39);
  background-image: linear-gradient(to bottom, #23a34f, #124f39);
  -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 40px;
  text-shadow: 1px 1px 3px #666666;
  color: #ffffff;
  font-weight: bold ;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 0px;
  text-decoration: none;
  height: 50px;
margin-left: 25% ;
 margin-top: 5px ;
  
}

.btnGasto:hover {
  background: #20a896;
  background-image: -webkit-linear-gradient(top, #20a896, #1c6363);
  background-image: -moz-linear-gradient(top, #20a896, #1c6363);
  background-image: -ms-linear-gradient(top, #20a896, #1c6363);
  background-image: -o-linear-gradient(top, #20a896, #1c6363);
  background-image: linear-gradient(to bottom, #20a896, #1c6363);
  text-decoration: none;
  height: 50px;
  margin-left: 25% ;
 margin-top: 5px ;
}
.inputIngreso{
	-webkit-border-radius: 27px;
-moz-border-radius: 27px;
border-radius: 27px;
background-image: -moz-linear-gradient(left, #F4A460, #F4A460);
background-image: -webkit-gradient(linear, left top, right top, color-stop(0.00, #F4A460), color-stop(1.0, #F4A460));
border: 3px solid #800000;
background-color: #80AB88;
padding: 10px;
font-family: Verdana, Geneva, sans-serif;
font-size: 12pt;
color: #800000;
text-align: center;
outline: 0px solid #E6E6FA;
margin: 2px;
}

.inputIngreso:hover{
  -webkit-border-radius: 27px;
-moz-border-radius: 27px;
border-radius: 27px;
background-image: -moz-linear-gradient(left, #F4A460, #F4A460);
background-image: -webkit-gradient(linear, left top, right top, color-stop(0.00, #F4A460), color-stop(1.0, #F4A460));
border: 3px solid #800000;
background-color: #80AB88;
padding: 10px;
font-family: Verdana, Geneva, sans-serif;
font-size: 12pt;
color: #800000;
text-align: center;
outline: 0px solid #E6E6FA;
margin: 2px;
-webkit-box-shadow: 0px 0px 15px 0px rgba(35,58,207,1);
-moz-box-shadow: 0px 0px 15px 0px rgba(35,58,207,1);
box-shadow: 0px 0px 15px 0px rgba(35,58,207,1);
}

.inputIngreso:focus{
  -webkit-border-radius: 27px;
-moz-border-radius: 27px;
border-radius: 27px;
background-image: -moz-linear-gradient(left, #F4A460, #F4A460);
background-image: -webkit-gradient(linear, left top, right top, color-stop(0.00, #F4A460), color-stop(1.0, #F4A460));
border: 3px solid #800000;
background-color: #80AB88;
padding: 10px;
font-family: Verdana, Geneva, sans-serif;
font-size: 12pt;
color: #800000;
text-align: center;
outline: 0px solid #E6E6FA;
margin: 2px;
-webkit-box-shadow: 0px 0px 15px 0px rgba(35,58,207,1);
-moz-box-shadow: 0px 0px 15px 0px rgba(35,58,207,1);
box-shadow: 0px 0px 15px 0px rgba(35,58,207,1);
}

.btnIngreso {
  background: #e38181;
  background-image: -webkit-linear-gradient(top, #e38181, #8a2525);
  background-image: -moz-linear-gradient(top, #e38181, #8a2525);
  background-image: -ms-linear-gradient(top, #e38181, #8a2525);
  background-image: -o-linear-gradient(top, #e38181, #8a2525);
  background-image: linear-gradient(to bottom, #e38181, #8a2525);
  -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 40px;
  font-weight: bold;
  text-shadow: 1px 1px 3px #666666;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 0px;
  text-decoration: none;
  height: 50px;
margin-left: 25% ;
 margin-top: 5px ;
}

.btnIngreso:hover {
  background: #e02020;
  background-image: -webkit-linear-gradient(top, #e02020, #661414);
  background-image: -moz-linear-gradient(top, #e02020, #661414);
  background-image: -ms-linear-gradient(top, #e02020, #661414);
  background-image: -o-linear-gradient(top, #e02020, #661414);
  background-image: linear-gradient(to bottom, #e02020, #661414);
  text-decoration: none;
  height: 50px;
  margin-left: 25% ;
 margin-top: 5px ;
}

#titleSector{
	text-align: center ;
}

.td{
	width: 50% ;
	vertical-align: top ;
	text-align: left;
}

#fondoIngreso{
	background-color: #E3F2D3;
	color : #012B07 ;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(35,58,207,1);
-moz-box-shadow: 0px 0px 15px 0px rgba(35,58,207,1);
box-shadow: 0px 0px 15px 0px rgba(35,58,207,1);
}

#fondoGasto{
	background-color: #F2D3D3;
	color: #2B0101;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(35,58,207,1);
-moz-box-shadow: 0px 0px 15px 0px rgba(35,58,207,1);
box-shadow: 0px 0px 15px 0px rgba(35,58,207,1);
}
form{
	margin :10%;
}

.down{

	text-align: center ;
	clear: both;
	margin-top: 20px ; 
	font-size: 10px ;
}

.opciones {
	float : right;
	border: 2px solid black;
	width: 29% ;
	height: 800px ;
}
body{
	display: inline ;
}