*{
	display: inline-block;
	width: 1000px;
	text-align: center ;
	border-radius: 2px;
	font-family: "Ubuntu Light";
}

.up{

	background-color: #939393;
	width: 100%;
	height: 100px;
	text-align: center;
	font-family: Tahoma ;
	font-size: 30px;
	color : #000000;
	
	position: relative;
}
.left{
	float:left;
	width: 4%;
	height: 800px;
}
.right{
	float: right;
	width: 4%;
	height: 800px;
}

.down{
	clear:both;
	width: 100%;
	height: 10px;
	background-color : #FF66FF ;
	font-size: 10px ;
	vertical-align: center ;

}
.center{
	
	width: 65%;
	height: 600px;
	border: 2px solid black ;
	display: inline-table;

}

.gastos {
	width: 45%;
	height: 300px ;
	border: 2px solid black;
	margin: 2px ;
	vertical-align: top;
	text-align: left;
}

input {
	width: 200px ;
	height: 15px ;
	margin: auto ;
	padding: 2px ;
}

.inputIngreso {
-webkit-border-radius: 27px;
-moz-border-radius: 27px;
border-radius: 27px;
background-image: -moz-linear-gradient(left, #98FB98, #98FB98);
background-image: -webkit-gradient(linear, left top, right top, color-stop(0.00, #98FB98), color-stop(1.0, #98FB98));
border: 3px solid #008000;
background-color: #DA70D6;
padding: 10px;
font-family: Verdana, Geneva, sans-serif;
font-size: 14px;
color: #008000;
text-align: center;
outline: 0px solid #E6E6FA;
}